@page  "{id:int}"
@model ReturnModel
@{
    ViewData["Title"] = $"Return {Model.Title}";
}
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Return book:</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Title</h6>
            <p class="card-text">Book is successfully returned.</p>
            <a class="btn btn-lg btn-success" asp-page="/Index">OK</a>
        </div>
    </div>
</div>

