@page
@model BookLibrary.Web.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search results: "@Model.Output.SearchTerm"</h1>

<ul>
    @foreach (var item in Model.Output.Listings)
    {
    <li>
        <!-- Using display template -->
        @Html.DisplayFor(model => item, "SearchResultItem");
    </li>
    }
</ul>