.bg-eventures {
    background-color: #AFEEEE;
}

.text-eventures {
    background-color: #AFEEEE;
}

.table-eventures {
    border-top: 2px solid #AFEEEE;
    border-bottom: 2px solid #AFEEEE;
    border-left: none;
    border-right: none;
    border-collapse: initial;
}

.table-eventures th,
.table-eventures td,
.table-eventures tr,
.table-evemtures thead,
.table-evemtures tbody
{
    border: none;
}

hr.hr-2 {
    height: 2px;
}

.bt-eventures {
    color: #000000;
    background-color: #AFEEEE;
    border-color: #AFEEEE;
}