.bg-eventures {
    background-color: #AFEEEE;
}

.text-eventures {
    background-color: #AFEEEE;
}

hr.hr-2 {
    height: 2px;
}

.bt-eventures {
    color: #000000;
    background-color: #AFEEEE;
    border-color: #AFEEEE;
}