@{
    ViewData["Title"] = "CHUSHKA";
}

<main class="mt-3 mb-5">
    <div class="jumbotron mt-3 chushka-bg-color">
        <h1>Welcome to Chushka Universal Web Shop</h1>
        <hr class="bg-white"/>
        @if (!this.User.Identity.IsAuthenticated)
        {
            <h3><a class="nav-link-dark" asp-controller="Account" asp-action="Login">Login</a> if you have an account.</h3>
            <h3><a class="nav-link-dark" asp-controller="Account" asp-action="Register">Register</a> if you don't.</h3>
        }
    </div>
</main>
