@{
    this.ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-3 bg-panda">
    <h1 class="text-white">Welcome to PANDA Delivery Services.</h1>
    <hr class="bg-white hr-2"/>
    <h3 class="text-white">
        <a class="nav-link nav-link-white active" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
    </h3>
    <h3 class="text-white">
        <a class="nav-link nav-link-white active" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a>
    </h3>
</div>
