@page
@model RazorPages.Areas.Forum.Pages.Page1Model
@{
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h1>Scaffolded Razor page</h1>
</body>
</html>