@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent">
        <!-- CUSTOMIZED MESSAGE IN COOKIE POPUP -->
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            This site use <strong>cookies</strong>.
            <button type="button" class="close" aria-label="Accept" data-dismiss="alert" data-cookie-string="@cookieString" id="cookieConsent">
                <span class="" aria-hidden="true">Accept</span>
            </button>
        </div>
        
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}