@page
@model LoginModel

@{
    this.ViewData["Title"] = "Log in";
}

<div class="row my-5">
    <div class="border-primary-4 col-9 col-lg-7 col-xl-5 rounded mx-auto p-5">
        <form method="post">
            <h4 class="d-block text-center text-primary">Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row my-4">
                <label class="col-lg-4 text-primary h5" asp-for="Input.Username"></label>
                <input class="col-lg-8 form-control text-primary" asp-for="Input.Username" />
                <span class="offset-lg-4 text-danger" asp-validation-for="Input.Username"></span>
            </div>
            <div class="form-group row my-4">
                <label class="col-lg-4 text-primary h5" asp-for="Input.Password"></label>
                <input class="col-lg-8 form-control text-primary" asp-for="Input.Password" />
                <span class="offset-lg-4 text-danger" asp-validation-for="Input.Password"></span>
            </div>
            <div class="form-group">
                <div class="offset-lg-4">
                    <label class="text-primary" asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @(this.Html.DisplayNameFor(m => m.Input.RememberMe))
                    </label>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="form-group text-right">
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@(this.Model.ReturnUrl)">Register as a new user</a>
                </p>
            </div>
        </form>   
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
