@model CarsByMakeModel

@{
    this.ViewData["Title"] = $"{this.Model.Make} Cars";
}

<h2>@(this.Model.Make) Cars</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in this.Model.Cars)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.TravelledDistance.ToKm()</td>
            </tr>
        }
    </tbody>
</table>