@model IndexViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

@foreach (var joke in this.Model.Jokes)
{
    <div class="card my-4">
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@this.Html.Raw(joke.Content)</p>
            </blockquote>
        </div>
        <div class="card-header">
            @joke.CategoryName
        </div>
    </div>
}