<ul class="navbar-nav">
    @if (this.User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link nav-link-white active" asp-controller="Package" asp-action="Pending">Pending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white active" asp-controller="Package" asp-action="Shipped">Shipped</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white active" asp-controller="Package" asp-action="Delivered">Delivered</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white active" asp-controller="Package" asp-action="Create">Package</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link-white active" asp-controller="Receipt" asp-action="Index">Receipts</a>
        </li>
    }
</ul>