@model AllCustomersModel

@{
    ViewData["Title"] = "AllListings Customers";
}

<h2>AllListings Customers</h2>
<h3>Ordered in @Model.OrderDirection.ToString().ToLower() direction</h3>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>BirthDay</th>
            <th>Is Young Driver</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.BirthDay.ToShortDateString()</td>
                <td>@(customer.IsYoungDriver ? "Yes" : "No")</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="/customers/edit/@customer.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>