@{
    ViewData["Title"] = "Home Page";
}

@{
    var isAdmin = this.User.IsInRole("Admin");
    var userName = this.User.Identity.Name;

    var welcomeMessage = isAdmin
        ? $"Welcome, Administrator - {userName}"
        : $"Welcome, {userName}";
}

    <div class="jumbotron bg-eventures w-75 mx-auto">

        @if (this.User.Identity.IsAuthenticated)
        {
            <h1>@welcomeMessage</h1>
            <hr class="hr-2 bg-secondary" />
            @if (isAdmin)
            {
                <h4 class="mt-4 text-secondary">Enjoy your work.</h4>
            }
            else
            {
                <h4 class="mt-4 text-muted">Eventures wishes you an exciting experience.</h4>
            }
        }
        else
        {

            <hr class="hr-2 bg-dark" />
            <h3 class="mt-4">
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                <span>to start "eventing".</span>
            </h3>
            <h3 class="mt-4">
                <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                <span>if you don't have an account.</span>
            </h3>
        }
    </div>
