@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

body {
    background-color: #eee;
    font-family: 'Manrope', sans-serif
}

.item {
    border: 1px solid #eee
}

.p-name {
    font-size: 23px
}

.btn-group {
    height: 33px
}

.btn {
    line-height: 15px
}

.ratings i {
    color: red;
    font-size: 20px
}

a.hover:hover {
    color: #fff !important;
    background-color: #432b65;
    border-color: #432b65 !important
}

.p-image img {
    width: 100% !important
}

.fa-star {
    color: goldenrod;
}

/* Product details
-------------------------------------------------- */

#product-image-container {
    position: relative;
}

#sold {
    position: absolute;
    margin-top: 30%;
    margin-left: -50%;
    transform: translate(-50%,-50%);
}